.primary-button, %primary-button {
    width: 100%;
    max-width: 320px;
    height: 48px;
    border-radius: 24px;
    background: linear-gradient(73.19deg, #dc79ff 0%, #256bfa 95.06%);
    border: none;
    outline: none;
    font-size: 18px;
}