%title-30 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

%title-16 {
    font-size: 1.6rem;
    font-weight: 600;
}
%title-14 {
    font-size: 1.4rem;
    font-weight: 500;
}
%title-12 {
    font-size: 1.2rem;
    font-weight: 600;
}

